{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}

<div class="row">
    <h2 class="text-center">Inscription</h2>
    <div class="col-md-6  mx-auto">
        {{form(myForm)}}
    </div>

</div>

{# form(nom de la clé du formulaire)  fonction qui materialise le formulaire myForm  #}
{% endblock %}
